body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  gap: 70px;
  height: 75vh;
  padding: 0px 200px;
  padding-bottom: 100px;
  background-color: #1F2937;
  color: #F9FAF8;
}

a {
  color: inherit;
  text-decoration: none;
}

.header-navigation {
  display: flex;
  align-items: center;
  padding-top: 8px;
}

.header-navigation nav {
  display: flex;
  gap: 12px;
  margin-left: auto;
}

.logo {
  width: 50px;
  height: 50px;
}

.header-section {
  display: flex;
  justify-content: space-between;
}

.header-content {
  max-width: 500px;
  margin-top: -30px;
}

.header-section img {
  width: 400px;
  height: 300px;
  border-radius: 40px 12px;
}

.header-content h1 {
  font-size: 48px;
  font-weight: 800;
}

.header-content p {
  font-size: 18px;
  color: #E5E7EB;
}

button {
  padding: 4px 20px;
  background-color: #3882F6;
  border-radius: 6px;
  color: inherit;
  font-weight: bold;
  border: none;
}

main {
  display: flex;
  flex-direction: column;
}


.main-section {
  display: flex;
  justify-content: space-around;
  padding: 0px 200px;
}

.main-section, article {
  margin-bottom: 100px;
}

.main-content-info img {
  width: 170px;
  height: 150px;
  border-radius: 10px;
}

.main-content-info {
  max-width: 200px;
  text-align: center;
}

main h2 {
  text-align: center;
  padding: 20px 0px;
  font-size: 36px;
  font-weight: 800;
  color: #1F2937;
}

#main-quote {
  background-color: #E5E7EB;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

#main-quote div {
  display: flex;
  flex-direction: column;
}

.text-quote {
  width: 800px;
  font-style: italic; 
  font-size: 36px;
  color: #1F2937;
}

.author-quote {
  align-self: flex-end;
  margin-top: -20px;
  font-weight: bold;
}

.final-article-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  width: 700px;
  justify-content: space-between;
  background-color: #3882F6;
  padding: 10px 60px;
  border-radius: 6px;
  color: #E5E7EB;
  flex: 1;
}

.container button {
  border: 2px solid #FFFFFF;
}

.container h4 {
  margin-bottom: -10px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F2937;
  color: #E5E7EB;
  font-size: 12px;
  padding: 8px 0px;
}
